aws:
  region: "us-east-1"
  sqs:
    queue_url: "https://sqs.us-east-1.amazonaws.com/123456789/my-queue"

http:
  business_addr: ":8080"
  management_addr: ":2112"

database:
  postgres:
    MaxIdleConns: 10
    MaxOpenConns: 100
    ConnMaxLifetime: 1
    ConnMaxIdleTime: 30
  gormLogger:
    SlowThreshold: '1s' # e.g. "200ms", "1s", "2m"
    LogLevel: "Info"
    IgnoreRecordNotFoundError: false
    Colorful: true

tracing:
  otel_enabed: true

logging:
  level: debug
  adapter: "multi" # e.g. stdout, loki or multi.
  loki: 
    url: "http://localhost:3100/loki/api/v1/push"
    labels:
      container: "api-service"
      stack: "monitoring"
      env: "development"

jwt:
  KID: "v1"
  pubPath: "keys/public.pem"
  privPath: "keys/private.pem"
  durationInMinute: 15
